:root {
  --font-basic: #000000;
  --font-additional: #495E57;
  --font-contrast: #ffffff;
  --basic: #ffffff;
  --contrast: #495E57;
  --additional: #EDEFEE;
  --neutral: #D9D9D9;
  --button-basic: #F4CE14;
  --button-contrast: #495E57;
  --button-additional: #FBDABB;
    }