@mixin container {
  width: $max-desktop-width;
  margin: auto;
  padding-right: 2em;
  padding-left: 2em;

  @media (max-width: $beforemax-desktop-width) {
    width: 100%;
  }
}

@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin clear-link {
  text-decoration: none;
  color: inherit;
}

@mixin clear-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
}

@mixin link-hover {
  color: var(--font-basic);
  text-decoration: underline;
}

@mixin button {
  width: 295px;
  height: 55px;

  border-radius: 8px;

  font-size: 20px;
  font-weight: 900;
  color: var(--font-basic);

  background-color: var(--button-basic);

  cursor: pointer;

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}

@mixin button-hover {
  color: var(--font-additional);
}

@mixin button-active {
  color: var(--font-contrast);
  background-color: var(--button-contrast);
}

@mixin asterisk {
  content: "";
  position: absolute;

  width: 10px;
  height: 10px;

  background-image: url("../../img/icon-asterisk.svg"); 
  background-repeat: no-repeat;
}