.form {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 2em;
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;

  background-color: var(--additional);

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}

.form__heading {
  font-size: 20px;
  font-weight: 700;

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
  margin-bottom: 37px;
}

.form__label {
  font-size: 20px;

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}

// Datepicker

.form__datepicker {
  width: 290px;
  height: 3em;
  padding: 0.3em;

  font-size: inherit;
  font-family: inherit;

  border: 1px solid grey;
  border-radius: 8px;
}

.react-datepicker-wrapper {
  position: relative;
}

.react-datepicker-wrapper::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 250px;

  width: 25px;
  height: 22px;

  background-image: url("../../img/icon-calendar.svg"); 
  background-repeat: no-repeat;

  z-index: 1;
}

.form__label--datepicker {
  position: relative;
}

.form__label--datepicker::after {
  @include asterisk;

  top: 0px;
  left: 105px;
}

// Timepicker

.form__label--timepicker {
  position: relative;
}

.form__label--timepicker::after {
  @include asterisk;

  top: 0px;
  left: 105px;
}

.form__timepicker {
  position: relative;

  width: 290px;
  height: 3em;
  padding: 0.3em;

  font-family: inherit;
  font-size: inherit;

  background-color: var(--basic);
  background-image: url("../../img/icon-clock.svg");
  background-repeat: no-repeat;
  background-position: 15.6em 0.7em;

  border: 1px solid grey;
  border-radius: 8px;

  appearance: none;
}

// .form__timepicker::after {
//   content: "";
//   position: absolute;
//   top: 13px;
//   left: 250px;

//   width: 25px;
//   height: 25px;

//   background-image: url("../../img/icon-clock.svg"); 
//   background-repeat: no-repeat;
// }

// Select

.form__select {
  width: 290px;
  height: 3em;
  padding-top: 0.5em;
  padding-right: 3em;
  padding-bottom: 3em;
  padding-left: 4em;

  font-weight: 800;
  color: var(--font-additional);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: var(--neutral);
}

.form__select::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;

  width: 25px;
  height: 22px;

  background-image: url("../../img/icon-occasion.svg"); 
  background-repeat: no-repeat;
}

.css-tj5bde-Svg {
  width: 25px;
  height: 25px;
}

.react-select__menu  {
  margin-top: 0.5em;
  margin-left: -4em;
}

.react-select__option,
.react-select__menu-notice--no-options {
  width: 100%;
  height: 3em;

  padding-top: 1em;
  padding-right: 3em;
  padding-bottom: 0.5em;
  padding-left: 4em;

  border-bottom: 1px dotted var(--contrast);
  background-color: var(--neutral);
}

.react-select__option:hover {
  color: var(--font-contrast);
  background-color: var(--contrast);
}

// Radio

.form__field--radio {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  border: none;
}

.form__label--radio {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
  padding: 0;
}

.form__radio__label {
  position: relative;
  padding-left: 2em;
  font-size: 20px;

  cursor: pointer;

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}

.form__radio__label::before,
.form__radio__input:checked + .form__radio__label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;

  width: 25px;
  height: 25px;

  background-repeat: no-repeat;

  cursor: pointer;
}

.form__radio__label::before {
  background-image: url("../../img/icon-radio-unchecked.svg");
}

.form__radio__input:checked + .form__radio__label::before  {
  background-image: url("../../img/icon-radio-checked.svg"); 
}

.form__radio__input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

// Buttons 

.button {
  @include clear-button;
  @include button;
}

.button--back {
  background-color: var(--button-additional);
}

.button:hover {
  @include button-hover;
}

.button:active {
  @include button-active;
}

.button__wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 1em;

  margin-bottom: 2em;

  @media (max-width: $max-tablet-width) {
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
  }
}

// Contact details 

.form__first-name,
.form__last-name,
.form__phone-number {
  width: 290px;
  height: 3em;
  padding: 0.3em;

  font-family: inherit;
  font-size: inherit;

  border: 1px solid var(--contrast);
  border-radius: 8px;
}

.form-label--first-name,
.form-label--last-name,
.form-label--phone-number {
  position: relative;
}

.form-label--first-name::after,
.form-label--last-name::after {
  @include asterisk;
  left: 100px;
}

.form-label--phone-number::after {
  @include asterisk;
  left: 137px;
}

.form__textarea {
  width: 580px;
  padding: 0.3em;

  font-size: inherit;
  font-family: inherit;

  border: 1px solid grey;
  border-radius: 8px;

  @media (max-width: $max-tablet-width) {
    width: 400px;
  }

  @media (max-width: $max-mobile-width) {
    width: 290px;
    font-size: 14px;
  }
}

// Confirmation

.form__confirmation {
  margin-bottom: 2em;

  font-size: 20px;
  font-weight: 700;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 1em;

    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}


