.header {
  @include container;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 2em;
  padding-bottom: 2em;

  @media (max-width: $max-tablet-width) {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}