.navigation-header {
  @include clear-list;

  position: relative;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $max-mobile-width) {
    position: absolute;
    z-index: 1;
    top: 16vw;
    left: 0px;

    align-items: center;
  
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;

    flex-direction: column;

    background-color: var(--contrast);

  }
}

.navigation-header li {
  margin-right: 1em;

  @media (max-width: $max-mobile-width) {
    margin-right: 0px;
    margin-bottom: 1em;
  }
}

.navigation-header a {
  @include clear-link;

  @media (max-width: $max-mobile-width) {
    color: var(--font-contrast);
  }
}

.navigation-header a:hover {
  @include link-hover;
}

.navigation__closed {
  @include clear-button;

  position: absolute;
  top: 6vw;
  right: 30px;
  
  width: 30px;
  height: 30px;
  
  background-image: url("../../img/icon-menu-hamburger.svg"); 
  background-repeat: no-repeat;
}

.navigation__open {
  @include clear-button;

  position: absolute;
  top: 5vw;
  right: 30px;
  
  width: 40px;
  height: 40px;
  
  background-image: url("../../img/icon-menu-cross.svg"); 
  background-repeat: no-repeat;
}

.navigation-footer {
  @include clear-list;

  display: flex;
  flex-direction: column;

  margin-right: 1em;
}

.navigation-footer a {
  @include clear-link;

  font-size: 10px;
  color: var(--font-contrast);
}

.navigation-footer a:hover {
  @include link-hover;
}

