.navigation {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
}

.navigation li {
  margin-right: 1em;
}

.navigation a {
  @include clear-link;
}

.navigation__closed {
  @include clear-button;

  position: absolute;
  top: 30px;
  right: 30px;
  
  width: 40px;
  height: 40px;
  
  background-image: url("../../img/icon-menu-hamburger.svg"); 
  background-repeat: no-repeat;
}