.promo {
  display: flex;
  flex-direction: column;
}

.promo__heading {
  margin: 0;
  padding: 1em;

  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--font-contrast);

  background-color: var(--contrast);

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}