.reservation {
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
}

.reservation__heading {
  font-size: 20px;
  font-weight: 900;

  @media (max-width: $max-tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
  }
}